/*.tempVideoFix {
  top: -29px;
}*/

.startPhoneDisplay {
	width: 250px;
/*	height: 426px;*/
	background-color: gray;
	overflow-y:hidden;
	/*overflow: overlay;*/

	position: absolute;
  	top: 50%;
  	left: 50%;
    border-radius: 30px!important;

  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.phone {
    width: 280px;
/*    height: 570px;*/
    position: relative;
    padding: 0px;
    margin: auto;

    margin-top: 30px;
    margin-bottom: 30px;
   /* margin-top: 8px;*/
}


.content3img {
    margin-top: 30px;
    margin-bottom: 30px;

}

/*.p-top-100 {
    padding-top: 0px;
}*/

.bg-likemojiPink{
	background: #eb2f5b;

  /*background: #353535;*/

  /*background: #b42feb;*/
}

.bg-likemojiGreen{
  background: #4cdcb4;
/*  background: #00d4ab;*/

}

.bg-likemojiPurple{
  background: #c64cdc;

}

.bg-likemojiYellow{
  background: #ffe000;

}



.bg-likemojiOrange{
  background: #ffad17;

}


.content-txt-white {
	color: white;
}

.popColor {
  color: #fcff56;
}



.popColor2 {
  color: #00affb;
}

.popColor3 {
  color: #fff4cb;
}

.btn-try{
  /*width: 100px;
  height: 40px;
  border-radius: 5px;*/
  background-color: #00affb;
  margin-top: 50px;
  border: 2px solid white;
  /*margin:auto;*/
  display: block;
  margin-right:auto;
  margin-left: auto;


}

.btn:last-child, a.store:last-child {
    margin-right: auto;
}

.kioskImg {

  width: 70%;
  border-radius: 10px;

}

.liststyle {
  list-style-type: disc;
  list-style-position: inside;
  color: #00affb;
  font-weight: 700;
  font-size: 1.5em;
}

hr  {
   width: 60%;
   border: 1px solid #00affb;
   margin-bottom: 40px;
 
}

.althr  {
   width: 60%;
   border: 1px solid #fff4cb;
   margin-bottom: 40px;
 
}

.extraPad {
  margin-top: 30px;
  margin-bottom: 30px;
}

.bottomPad {
  margin-bottom: 60px;
}

.bg-yellow {
    background-color: #3cff5d;
}

.profile {

  width: 100%;
  border:5px solid #fff4cb;
  border-radius: 50%;
}

.font600 {
  font-weight: 600;
}

.InlineInput {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: inline-block;
  margin: 0;
  padding: 8px 8px;
  padding-bottom: 0;
  text-align: center;
  letter-spacing: 1px;
  color: #fcff56;
  border: 0;
  border-bottom: 2px dotted #fcff56;
  outline: none;
  background-color: transparent;
  font-size: 1em;
  font-weight: 500; }



  .InlineInput:focus {
    border-bottom: 2px solid #fcff56; }
  .InlineInput:hover {
    border-bottom-color: #fcff56; }
  .InlineInput::-webkit-input-placeholder, .InlineInput::-webkit-input-placeholder {
    font-size: 0.875em;
    font-weight: 300;
    padding-top: 3px; }
  .InlineInput::-webkit-input-placeholder, .InlineInput::placeholder {
    font-size: 0.875em;
    font-weight: 300;
    padding-top: 3px; }
  .InlineInput:-webkit-autofill {
    border-bottom: 2px dotted #fcff56;
    box-shadow: inset 0 0 0 9999px white;
    -webkit-text-fill-color: #ff8d6a; }
    .InlineInput:-webkit-autofill:focus {
      border-bottom: 1px solid #fcff56; }
  .InlineInput::-moz-selection {
    color: white !important;
    background-color: rgba(255, 141, 106, 0.8);
    -webkit-text-fill-color: white !important; }
  .InlineInput::selection {
    color: white !important;
    background-color: rgba(255, 141, 106, 0.8);
    -webkit-text-fill-color: white !important; }
  .InlineInput::-webkit-inner-spin-button, .InlineInput[type='number']::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none; }

  .biggerFont {
      font-size: 2em;
    }

  .smallerFont {
      font-size: .5em;
    }

  .font400 {
    font-weight: 400;
  }
  