/*.tempVideoFix {
  top: -29px;
}*/

.startPhoneDisplay {
	width: 250px;
/*	height: 426px;*/
	background-color: gray;
	overflow-y:hidden;
	/*overflow: overlay;*/

	position: absolute;
  	top: 50%;
  	left: 50%;
    border-radius: 30px!important;

  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.phone {
    width: 280px;
/*    height: 570px;*/
    position: relative;
    padding: 0px;
    margin: auto;

    margin-top: 30px;
    margin-bottom: 30px;
   /* margin-top: 8px;*/
}


.content3img {
    margin-top: 30px;
    margin-bottom: 30px;

}

/*.p-top-100 {
    padding-top: 0px;
}*/

.bg-likemojiPink{
	background: #eb2f5b;

  /*background: #353535;*/

  /*background: #b42feb;*/
}

.bg-likemojiGreen{
  background: #4cdcb4;
/*  background: #00d4ab;*/

}

.bg-likemojiPurple{
  background: #c64cdc;

}

.bg-likemojiWhite{
  background: #e5feff;

}


.content-txt-white {
	color: white;
}

.popColor {
  color: #fcff56;
}



.popColor2 {
  color: #00affb;
}

.popColor3 {
  color: #fff4cb;
}

.btn-try{
  /*width: 100px;
  height: 40px;
  border-radius: 5px;*/
  background-color: #00affb;
  margin-top: 50px;
  border: 2px solid white;
  /*margin:auto;*/
  display: block;
  margin-right:auto;
  margin-left: auto;


}

.btn:last-child, a.store:last-child {
    margin-right: auto;
}

.kioskImg {

  width: 70%;
  border-radius: 10px;

}

.liststyle {
  list-style-type: disc;
  list-style-position: inside;
  color: #00affb;
  font-weight: 700;
  font-size: 1.5em;
}

hr  {
   width: 60%;
   border: 1px solid #00affb;
   margin-bottom: 40px;
 
}

.althr  {
   width: 60%;
   border: 1px solid #fff4cb;
   margin-bottom: 40px;
 
}

.extraPad {
  margin-top: 30px;
  margin-bottom: 30px;
}

.bottomPad {
  margin-bottom: 60px;
}

.bg-yellow {
    background-color: #3cff5d;
}

.profile {

  width: 100%;
  border:5px solid #fff4cb;
  border-radius: 50%;
}

.font600 {
  font-weight: 600;
}

